/*Just testing CSS*/
.SearchMap{
  height: 100%;
  width: 100%;
  text-align: center;
}

.Map {
  height: 25em;
  width: 80%;
  margin: 0 auto;
}

.Information {
  height: auto;
  width: auto;
  text-align: left;
}
